*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   background: rgb(94,60,222);
background: radial-gradient(circle, rgba(94,60,222,1) 0%, rgba(224,67,99,1) 100%);
color: #2e3b9b;
}

#bgCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -3;
}

#overlayCanvas {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}
header {
  text-align: center;
  color: #eee;
}
.app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.round {
  display: flex;
  gap: 0.5rem;
}
.letter {
  font-size: 2rem;
  border: 1px solid #888;
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  background: #eee;
}
.letter--hint-correct {
  background: #74d689;
}
.letter--hint-wrong {
  background: #bab7c4;
}
.letter--hint-close {
  background: #f1f77c;
}
.feedback {
  white-space: pre-wrap;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.keyboard__row {
  display: flex;
  gap: 0.20rem;
  justify-content: center;
}
.key {
  font: inherit;
  padding: 0;
  display: block;
  width: 2.15rem;
  height: 3.5rem;
  background: #eee;
  border-radius: 0.25rem;
  border: 1px solid #888;
  color: #2e3b9b;
  font-size: 1.3rem;
}
.key:hover {
  box-shadow: 0 0 0 0.1rem currentColor;
  cursor: pointer;
}

.key--pretty {
  width: 3rem;
  font-size: 0.7rem;
  margin: 0 0.5rem;
}

.key--hint-correct {
  background: #74d689;
}
.key--hint-wrong {
  background: #bab7c4;
}
.key--hint-close {
  background: #f1f77c;
}


@keyframes shake {
  8% {
    transform: translateX(6%);
  }
  16% {
    transform: translateX(-6%);
  }
  24% {
    transform: translateX(5%);
  }
  32% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(4%);
  }
  48% {
    transform: translateX(-4%);
  }
  56% {
    transform: translateX(3%);
  }
  64% {
    transform: translateX(-3%);
  }
  72% {
    transform: translateX(2%);
  }
  80% {
    transform: translateX(-2%);
  }
  88% {
    transform: translateX(1%);
  }
  96% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}
